{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'central/css/details.css' %}" type="text/css"/>
<div class="container">
    <img src="{{ details.image.url }}" class="image" alt="">

    <h5 class="">{{ details.name }}</h5>
    <p class="">{{ details.task }}</p>
    <p class="">{{ details.university }}</p>
    <p class="">{{ details.duration }}</p>
    <p class="">{{ details.date_of_start }}</p>
    <p class="">{{ details.date_of_finish }}</p>
    <p class="">{{ details.description }}</p>

    <form method="post">
    {% csrf_token %}

<a href="{% url 'app:add-to-course' details.pk %}" type="submit" class="btn btn-primary" id="get">Записаться на курс</a>

</form>
        </div>

{% endblock %}