{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
<div class="container">
{% for lesson in lessons %}
    {% if lesson.video %}
    <iframe width="560" height="315" src="{{ lesson.video }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    <h5>{{ lesson.task }}</h5>
    <p>{{ lesson.name }}</p>
    <p>{{ lesson.teacher }}</p>
    <a href="{{ lesson.homework }}">{{ lesson.homework }}</a>
    <p>{{ lesson.mark }}</p>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ lesson_form.as_p }}
    <button type="submit">Загрузить</button>
  </form>
     {% endfor %}
</div>


{% endblock %}
