{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
<div class="container">
{% for lesson in lessons %}
    {% video lesson.video as my_video %}
      {% video my_video "large" %}
    {% endvideo %}
    <h5>Тема: {{ lesson.task }}</h5>
    <p>Название урока: {{ lesson.name }}</p>
    <p>Преподаватель: {{ lesson.teacher }}</p>
    <p>Домашнее задание: </p><a href="{{ lesson.homework }}">{{ lesson.homework }}</a>
    <p>Текущая оценка: {{ lesson.mark }}</p>
    <form method="post" action="{% url 'app:upload-video' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ lesson_form.as_p }}
    <button type="submit" class="btn btn-primary">Загрузить</button>
    </form>
     {% endfor %}
</div>


{% endblock %}
