.form-group{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom 50px;
    }
.title{
    margin-left: 30%;
    margin-right: 30%;

}

#get{
    margin-left: 45%;
    margin-right: 30%;
    margin-bottom: 50px;
}